.titulo{
    color: #61764B;
}
h1{
    color:#9BA17B; 
 }
.introdu{
    color:#61764B;
}
 p{
     color:#CFB997;
 }
h1{
    background:#FAD6A5;
    margin: 50px;
    padding: 30px;
}
p{
    background: #616161;;
    margin: 50px;
    padding: 30px;
}
.nav_enlace{
    display: inline-block;
    background: #D5FFD0;
    color: black;
    padding: auto;
    text-decoration: none;

}
.nav_enlace:hover{
    background:#61764B;
}
nav{
    background: #CFB997;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.boton_navtel{
    background: #9BA17B;
    color: black;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}
@media (max-width: 600px){
   nav{
     background: #CFB997;
     padding: 10px;
     display: flex;
     justify-content: space-around;
     flex-direction: column;
   }
   .boton_navtel{
    display: inline-block;
   }
}
body{
    font-family: 'Handjet', cursive;
font-family: 'Roboto Condensed', sans-serif;
}
.contenedor1{
    display: flex;
    justify-self: center;
}
.contenedor2{
    display: flex;
    justify-self: center;
}
.contenedor3{
    display: flex;
    justify-self: center;
}
.contenedor4{
    display: flex;
    justify-self: center;
}





























.columna{
    background: #279EFF;
    padding: 40px;
    width: 20%;
    margin: 40px;
}
.padre{
    display: block;
}
